*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    
    
}

main{
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.square{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square:first-child{
    background-color: steelblue;
    /* transform: translateX(-50%);
    transform: rotateX(180deg);
    transform: scaleX(120%);
    transform: skewX(30deg); */

}
.square:first-child:hover{
    background-color: rosybrown;
    transition-property: background-color,transform;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transform: rotate(100deg);

}

.square:nth-child(2){
    background-color: yellow;
    /* transform: translatey(-30%);
     transform: rotateY(180deg);
     transform: scaleY(120%);
      transform: skewY(1deg); */
} 
.square:nth-child(2):hover{
   /*  animation: slide;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal; */
    animation: slide 4s ease-in-out infinite 0.5s forwards normal;
}
@keyframes slide {
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: translateY(200px) rotate(180deg) scale(50%);
    }
    74%{
        transform: translateX(-300px) rotate(-180deg) scale(200%);
    }
    100%{
        transform: rotate(0deg);
    }
}

.square:last-child{
    background-color: green;
    /* transform: translate(50%,-50%);
     transform: rotate(100deg);
     transform: scale(120%,50%);
      transform: skew(30deg,30deg); */
     
}



