*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
.container{
    margin : 150px auto;
    width: 50%;
    min-height: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: flex-end;
    column-gap: 0.5rem;
    
    

    
}
.box{

    height:200x;
    width:100px;
    background-color: black;
    color: white;
    
}
.box:nth-child(3){
    background-color: blue;
    height: 200px;
    order:-1
}