*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: 50px auto 50px;
    grid-template-areas: "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sd sd"
    "ft ft ft ft ft ft ft ft ft";
}
.container{
    min-height: 400px;
    display: grid;

    /* grid-auto-flow: column; */
    grid-template-columns: repeat(2,1fr 2fr);
    /* grid-template-rows: repeat(2, 1fr 3fr); */
    grid-auto-rows: minmax(150px,auto);
    gap: 1rem;
    grid-area: mn;  
    
}
.header{
    grid-area: hd;
}
.sidebar{
    grid-area: sd;
}
.footer{
    grid-area: ft;
}
.box{
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.box:nth-child(1){
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 4;
 */
 grid-column: 1/4;
 grid-row: 1/3;
}
.box:nth-child(2){
    background-color: violet;
    grid-row: 3/4;
    grid-column: 1/5;
}
.el{
    background-color:brown;
    display: grid;
    place-content: center;
}
