*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
   max-height: 800px;
    

}
.outter-container{
    border: 2px dashed black;
    width: 40%;
    height: 550px;
    margin: 100px auto;
    position: relative;
}
.inner-container{
    border: 2px solid black;
    width: 40%;
    height: 75%;
    margin: 100px auto;
    
}
.box{
    font-size: 0.7rem;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
}

.absolute{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}
.relative{
    background-color: green;
    position: relative;
    top: 200px;
    left: 0;
    z-index: 1;
}
.fixed{
    background-color: blue;
    position: fixed;
    top: 50%;
    left: 40%;
}
.sticky{
    background-color: black;
    position: sticky;
    top: 80%;
    left: 20%;
}