<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
   <script defer src="https://unpkg.com/vue@3.4.9/dist/vue.global.js"></script> 
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enterGoalValue"/>
      <button @click="addGoals">Add Goal</button>
      <!-- EG  Basic v-if -->
      <!-- <p v-if="goals.length==0">No goals have been added yet - please start adding some!</p>
      <ul v-if="goals.length>0">
        <li>Goal</li>
      </ul> -->

      <!-- EG V-if V-else -->
      <!-- <p v-if="goals.length==0">No goals have been added yet - please start adding some!</p>
      <ul v-else>
        <li>Goal</li>
      </ul> -->

      <!-- Eg v-if v-else-if v-else  include V-for to list the data and removing from list-->
      <p v-if="goals.length==0">No goals have been added yet - please start adding some!</p>
      <ul v-else-if="goals.length>0">
        <li v-for="(goal, index) in goals" :key="goal" @click="removeGoals()">
        <p>{{goal}} - {{index}}</p>
        <input type="text" @click.stop>
        <!-- input stoppropagation() helps to stop the event trying to exe & remove the element -->
        </li>
        
      </ul>
       <p v-else>....</p>
      <!-- V-for Object (key,value,index) -->
      <!--  <ul>
        <li v-for="(value,key,index) in objtest">{{key}}-{{value}}-{{index}}</li>
       </ul> -->
     
    </section>
  </body>
</html>
